USE [beautysalon]
GO
/****** Object:  StoredProcedure [dbo].[krijo_detaj_terminit]    Script Date: 1/02/2026 9:32:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[krijo_detaj_terminit] 

  @id_terminit BIGINT,
  @detajet_termineve dbo.detajet_termineve_array READONLY
  as
  begin

  INSERT INTO detajet_termineve (id_terminit, ID_sherbimit, id_atributit, kohezgjatja, pagesa)
  select @id_terminit, ID_sherbimit, id_atributit, kohezgjatja, pagesa from @detajet_termineve;


  end;
