USE [beautysalon]
GO
/****** Object:  StoredProcedure [dbo].[create_appointment]    Script Date: 1/02/2026 9:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[create_appointment] 
(
    @IDClientit BIGINT,
    @IDEmployee BIGINT,
    @pershkrimi NVARCHAR(255) = NULL,
    @data_caktimit DATETIME2,
    @detajet_termineve dbo.detajet_termineve_array READONLY,
    @status BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @newID BIGINT;

        -- Conflict check
        IF EXISTS (
            SELECT 1
            FROM terminet
            WHERE employee_id = @IDEmployee
              AND DATEADD(MINUTE, DATEDIFF(MINUTE, 0, data_caktimit), 0) = 
                  DATEADD(MINUTE, DATEDIFF(MINUTE, 0, @data_caktimit), 0)
        )
        BEGIN
            SET @status = 0;
            RETURN;  -- conflict, exit procedure
        END

        -- Start transaction only if no conflict
        BEGIN TRANSACTION;

        -- Insert main appointment
        INSERT INTO terminet (ID, employee_id, pershkrimi, data_caktimit)
        VALUES (@IDClientit, @IDEmployee, @pershkrimi, @data_caktimit);

        SET @newID = SCOPE_IDENTITY();

        -- Insert appointment details via TVP
        EXECUTE krijo_detaj_terminit 
            @id_terminit = @newID, 
            @detajet_termineve = @detajet_termineve;

        COMMIT TRANSACTION;

        SET @status = 1; -- success

    END TRY
    BEGIN CATCH
        -- Rollback if transaction is active
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @status = 0;
    END CATCH
END